/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit {
    background-color:blueviolet;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}