.make-payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.make-payment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}
label {
    font-size: 18px;
    text-align: left;
}
.make-payment-form input, .make-payment-form select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}